letras_menu = #f4f2f3
rosa_detalles = #d40d7d

h1
	margin 3em 0 0 0 

header
	background #282828
	height 60px
	margin 0 
	padding 0
	position static
	width 100%

	nav
		display inline-block
		margin 0 auto

		ul

			li 
				display inline-block
				
				a
					color letras_menu
					margin 0 1em
					text-decoration none
					
				a:hover
					color rosa_detalles

#galeria
	margin 0
	overflow-x auto
	padding 0
	text-align center
	white-space nowrap

				
#slide
	margin 6em 0 
	padding 2em 0
	text-align center

.logo
	float left
	display inline-block
	
	img
		display inline-block
		width 150px

.menu_gal
	background #dbdbdb
	display inline-block
	height 300px
	vertical-align top
	width 192px

	img
		display inline-block
		height 134.5px
		width 192px
